<% provide(:title, "Help") %>


<h1>PROJECTS</h1>

<div class="row">
	<div class="col-sm-12">
		<h2> VOX </h2>
		<%= link_to image_tag("Vox.jpg", alt: "Joseph", class: "img-responsive"), '' %>
	</div>
	<div class="col-sm-12">
		<p> Vox is a music sharing website developed with HTML. Just like Soundcloud, it allows users to listen to different music and also share their own tracks. This is developed in order to create a small community of music lovers apart from the huge celebrities, just so they could notice each other. </p>
	</div>
</div>


<div class="row">
	<div class="col-sm-12">
		<h2> Melecio - Barriga Clinic Information System </h2>
		<%= link_to image_tag("Clinic.jpg", alt: "Joseph", class: "img-responsive"), '' %>
	</div>
	<div class="col-sm-12">
		<p> This information system is being developed for the Melecio - Barriga Clinic. It automates their clinic system as a solution to the rising number of patients, thus, more paperwork, making their work a lot easier and faster. </p>
	</div>
</div>


<div class="row">
	<div class="col-sm-12">
		<h2> Ice Cream Game </h2>
		<%= link_to image_tag("IceCreamGame.jpg", alt: "Joseph", class: "img-responsive"), '' %>
	</div>
	<div class="col-sm-12">
		<p> This is a simple game developed with Java. The objective of the game is simple: serve as much customers as you can and aim for the best high score. This project is still in development. </p>
	</div>
</div>